@import "compass/css3";
*,
*:before,
*:after {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

.quote-container {
    margin: 1em;
}

.quotes {
    -moz-column-width: 13em;
    -webkit-column-width: 13em;
    -moz-column-gap: 0.5em;
    -webkit-column-gap: 0.5em;
}

.quote-item {
    display: inline-block;
    border-radius: 5px;
    margin: 0.25rem;
    padding: 1rem;
    width: 100%;
}

p {
    margin: 1rem 0;
    font-family: 'Work Sans', sans-serif;
    color: #333333;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333333
}

h1 {
    font-size: 75px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 175px;
}

.title {
    height: 100px;
}

em {
    display: block;
    padding-top: 0.5em;
}

.one {
    background-color: #FDC9C9;
}

.two {
    background-color: #FFE7C9;
}

.three {
    background-color: #FFFAC9;
}

.four {
    background-color: #C9EFCB;
}

.five {
    background-color: #C9F4FB;
}

.six {
    background-color: #CCD6FF;
}

.seven {
    background-color: #DBC9E9;
}